<div style="width: 200em" class="container mt-1">
  <div class="row">
    <ul class="list-group list-group-flush">
      <li class="list-group-item p-4 border-bottom border-info">
        <div class="row">
          <h3 class="d-inline-flex">Custom Pipes</h3>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item p-4">
            <div class="row">
              <h6 class="d-inline-flex">Basic Custom Pipes</h6>
              <div class="col-12">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item p-4 border-bottom border-info">
                    <div class="row">
                      <div class="col-md-12">
                        <p class="card-text text-primary">
                          John is from London and he is working in Google
                          Company
                        </p>
                      </div>

                      <div class="col-md-12 mt-2">
                        Trimmer the string by using custom pipe :
                        <p class="d-flex card-text text-primary">
                          {{
                            "John is from London and he is working in Google Company."
                              | basicPipe : "1"
                          }}
                        </p>
                      </div>

                      <div class="col-md-12 mt-2">
                        Adding <strong>some</strong> content about the "John" by
                        using custom pipe :
                        <p class="d-flex card-text text-primary">
                          {{
                            "John is from London and he is working in Google Company."
                              | basicPipe : "2"
                          }}
                        </p>
                      </div>

                      <div class="col-md-12 mt-2">
                        Adding <strong> some More </strong> content about the
                        "John" by using custom pipe :
                        <p class="d-flex card-text text-primary">
                          {{
                            "John is from London and he is working in Google Company."
                              | basicPipeWithMultiParams
                                : "3"
                                : "He is having the More than 5 Years in IT Industry . He is Married having 2 kids"
                          }}
                        </p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group-item p-4">
            <div class="row">
              <h6 class="d-inline-flex">Advanced Custom Pipes</h6>
              <div class="col-12">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item p-4 border-bottom">
                    <div class="row">
                      <div class="col-md-12">
                        <p class="text-primary">
                          Filtering the Employees based on the "John" is :
                        </p>
                        <ul class="list-group list-group-flush">
                          <li
                            class="list-group-item p-0"
                            *ngFor="
                              let employee of Employees | searchRecord : 'John'
                            "
                          >
                            {{ employee.ID }} - {{ employee.firstName }} -
                            {{ employee.lastName }} - {{ employee.Location }}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item p-4 border-bottom border-info">
                    <div class="row">
                      <div class="col-md-12">
                        <p class="text-primary">
                          Filtering Customers based on the textbox :
                        </p>
                      </div>
                      <div class="row col-md-12">
                        <div class="col-md-9"></div>
                        <!-- Empty space equivalent to 9 columns -->
                        <div class="col-md-3">
                          <input
                            type="text"
                            [(ngModel)]="searchTerm"
                            class="form-control mb-3"
                            placeholder="Enter customer name"
                          />
                        </div>
                      </div>

                      <div class="col-md-12">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>Last Name</th>
                              <th>First Name</th>
                              <th>Address</th>
                              <th>City</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              *ngFor="
                                let record of customers
                                  | searchRecord : searchTerm
                              "
                            >
                              <td>{{ record.id }}</td>
                              <td>{{ record.lastName }}</td>
                              <td>{{ record.firstName }}</td>
                              <td>{{ record.address }}</td>
                              <td>{{ record.city }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

                     
